<center>
<br>
<br>
<h1>Your Favorites Deals</h1>
<br>
<% @favorites.each do |favorite| %>
<%= favorite.budget %>
<%= favorite.accommodation %>
<%= favorite.flight %>
<% end %>
<br>
<br>
<div style="text-align:center;"><%= link_to "Back to Main", root_path,  class: "return-button btn btn-primary spin-trigger" %></div>
<br>
<div style="text-align:center;"><%= link_to "Return", root_path,  class: "return-button btn btn-primary spin-trigger" %></div>

</center>
