<div class="recommended-stay-container text-center">

     <%= render "shared/accomodation_modal" %>

  <div class="stay-wrapper">
    <div class="stay-clear"></div>
      <div class="stay-item">
        <div class="row">
          <div class="text-left col-xs-6">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/34/c0/41/v-one-vogue-hotel.jpg" alt="Accomodation"/>
          </div>
          <div class="col-xs-6">
            <h3><%= @city.name %> Sofitel</h3>
            <h4>Rating: <%= @accommodation.score %></h4>
            <p><em><%= @accommodation.price%></em> USD per day</p>
            <h5><em><%= @accommodation.address%></em></h5>
          </div>
        </div>
      </div>
  </div>
</div>



