<div class="blog-card" id="accommodation">
  <div class="meta">
    <div class="photo"><%= image_tag @accommodation.photo, width: 300, height: 300, crop: :fill %></div>
  </div>

  <div class="description">
    <div class="col-xs-12">
      <div class="row">
        <h1><%= @accommodation.name %></h1>
        <h2>Rating: <%= @accommodation.score %></h2>
        <p>Price: <%= @accommodation.price%> US$ per night</p>
        <p><%= @accommodation.address%></p>
      </div>
      <div class="buttons text-right row">
        <button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#accom">Change</button>
        <%= link_to "Book", @accommodation.booking_url, target: "_blank", class: "btn btn-success" %>
    </div>
    </div>
  </div>
</div>

<%= render "shared/accomodation_modal" %>


