<!-- Modal -->
<div class="modal fade" id="accom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="text-center modal-title" id="exampleModalLongTitle">Additional Accomodation Options</h3>
        <form method="get" action="/change_accom">
        <div class="modal-body">
        <!-- accomodation details -->
        <% @accommodations.each do |accom| %>

            <div class="blog-card" id="accomm-radio-btn">
              <div class="meta">
                <div class="photo"><%= image_tag accom.photo, width: 300, height: 300, crop: :fill %></div>
              </div>
              <div class="description">
                <div class ="row">
                  <div class="col-xs-10">
                    <h1><%= accom.name %></h1>
                    <h2>Rating: <%= accom.score %></h2>
                    <p>Price: <%= accom.price%> US$ total</p>
                    <p><%= accom.address%></p>
                  </div>
                  <div class="col-xs-2">
                    <br>
                    <input type="radio" class="accommodation_choice change_btn radio" name="accommodation_choice" value=<%= accom.id %><%= accom.id == @picked_accommodation ? 'checked' : '' %>>
                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
      <input type="hidden" name="city-id" value=<%= params[:id] %>>
      <input type="hidden" name="flight_ids" value=<%= params['flight_ids'] %>>
      <input type="hidden" name="accom_ids" value=<%= params['accom_ids'] %>>
      </form>
    </div>
  </div>
</div>
</div>
