<!-- Modal -->
<div class="modal fade" id="flights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Additional Flight Options</h3>
      </div>
      <form method="get" action="/change_first_pick">
      <div class="modal-body">
           <!-- flight details -->
        <% @flights.each do |flight| %>
        <div class="flight-card" id="flight-radio-btn">
              <!-- radio button -->
              <div class="card-flight-content col-xs-1">
                <input type="radio" class="flight_choice change_btn radio" name="flight_choice" value=<%= flight.id %>
                <%= flight.id == @picked_flight ? 'checked' : '' %>>
              </div>

              <!-- Flight content -->
              <div class="card-flight-content col-xs-8">
                <div class="col-xs-2">
                  <div clas="row">
                    <span><%= image_tag flight.depart_image_url, width: 108, height: 56, crop: :fill %></span>
                  </div>
                  <div clas="row">
                    <span><%= image_tag flight.return_image_url, width: 108, height: 56, crop: :fill %></span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="text-right row">
                    <ul class="list-unstyled">
                      <li><%= flight.depart_departure_time.strftime("%R %p") %></li>
                      <li><%= flight.depart_code %></li>
                    </ul>
                  </div>
                  <div class="text-right row">
                    <ul class="list-unstyled">
                      <li><%= flight.return_departure_time.strftime("%R %p") %></li>
                      <li><%= flight.return_code %></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="row">
                    <ul class="list-unstyled">
                      <li>--------<i class="fas fa-plane"></i></li>
                      <% if flight.depart_stops == "Direct" %>
                        <li><%= flight.depart_stops %></li>
                      <% elsif flight.depart_stops == "1" %>
                        <li><%= flight.depart_stops %> stop</li>
                      <% else %>
                        <li><%= flight.depart_stops %> stops</li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="row">
                    <ul class="list-unstyled">
                      <li>--------<i class="fas fa-plane"></i></li>
                      <% if flight.return_stops == "Direct" %>
                        <li><%= flight.return_stops %></li>
                      <% elsif flight.return_stops == "1" %>
                        <li><%= flight.return_stops %> stop</li>
                      <% else %>
                        <li><%= flight.return_stops %> stops</li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="text-left row">
                    <ul class="list-unstyled">
                      <li><%= flight.depart_arrival_time.strftime("%R %p") %></li>
                      <li><%= flight.return_code %></li>
                    </ul>
                  </div>
                  <div class="row">
                    <ul class="text-left list-unstyled">
                      <li><%= flight.return_arrival_time.strftime("%R %p") %></li>
                      <li><%= flight.depart_code %></li>
                    </ul>
                  </div>
                </div>
              </div>


                <div class="text-center flight-total col-xs-3">
                  <div class="row">
                    <br>
                    <h3><strong></i><%= flight.price %> US$</strong></h3>
                  </div>
                </div>



        </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
      <input type="hidden" name="city-id" value=<%= params[:id] %>>
      <input type="hidden" name="flight_ids" value=<%= params['flight_ids'] %>>
      <input type="hidden" name="accom_ids" value=<%= params['accom_ids'] %>>
      </form>
    </div>
  </div>
</div>
