<div class="recommended-flight-container text-center">



    <%= render "shared/flight_modal" %>

  <div class="flight-card" id="flight">
    <!-- Button Column -->
    <div class="card-flight-content col-xs-9 col-md-9">
      <!-- <div class="col-xs-12 col-md-1"> -->
    <!-- Button trigger modal -->
     <!--  <button type="button" class="modal-btn btn btn-success" data-toggle="modal" data-target="#flights"><i class="fas fa-exchange-alt"></i></button>
    </div> -->

    <!-- Flight content -->

      <div class="col-xs-1 col-md-3">
        <div clas="row">
            <span><%= image_tag @flight.depart_image_url, width: 108, height: 56, crop: :fill %></span>
        </div>
        <div clas="row">
          <span><%= image_tag @flight.return_image_url, width: 108, height: 56, crop: :fill%></span>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="text-right row">
          <ul class="list-unstyled">
            <li><%= @flight.depart_departure_time.strftime("%R") %></li>
            <li><%= @flight.depart_code %></li>
          </ul>
        </div>
        <div class="text-right row">
          <ul class="list-unstyled">
            <li><%= @flight.return_departure_time.strftime("%R") %></li>
            <li><%= @flight.return_code %></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-md-3">
        <div class="row">
          <ul class="list-unstyled">
            <li>--------<i class="fas fa-plane"></i></li>
            <% if @flight.depart_stops == "Direct" %>
              <li><%= @flight.depart_stops %></li>
            <% elsif @flight.depart_stops == "1" %>
              <li><%= @flight.depart_stops %> stop</li>
            <% else %>
              <li><%= @flight.depart_stops %> stops</li>
            <% end %>
          </ul>
        </div>
        <div class="row">
          <ul class="list-unstyled">
            <li>--------<i class="fas fa-plane"></i></li>
            <% if @flight.return_stops == "Direct" %>
              <li><%= @flight.return_stops %></li>
            <% elsif @flight.return_stops == "1" %>
              <li><%= @flight.return_stops %> stop</li>
            <% else %>
              <li><%= @flight.return_stops %> stops</li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="text-left row">
          <ul class="list-unstyled">
            <li><%= @flight.depart_arrival_time.strftime("%R") %></li>
            <li><%= @flight.return_code %></li>
          </ul>
        </div>
        <div class="row">
          <ul class="text-left list-unstyled">
            <li><%= @flight.return_arrival_time.strftime("%R") %></li>
            <li><%= @flight.depart_code %></li>
          </ul>
        </div>
      </div>


  </div>

      <div class="text-center flight-total col-xs-3 col-md-3">
        <div class="row">
          <br>
          <h3><strong>$<%= @flight.price %></strong></h3>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#flights">Change</button>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= link_to "Book", @flight.booking_url, target: "_blank", class: "btn btn-success" %>
          </div>
        </div>
      </div>


  </div>

</div>
