<div class="recommended-flight-container text-center">



    <%= render "shared/flight_modal" %>

  <div class="flight-card">
    <div class="col-xs-8">
        <!-- Button trigger modal -->
        <div class="text-left row">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-exchange-alt"></i></button>
          <span><%= @flight.airline_name %></span>
          <span><%= @flight.depart_departure_time.strftime("%R") %> <i class="fas fa-plane"> </i><%= @flight.depart_arrival_time.strftime("%R") %></span>
        </div>
        <div class="text-left row">
          <span><%= @flight.airline_name %></span>
          <span><%= @flight.return_departure_time.strftime("%R") %> <i class="fas fa-plane"> </i><%= @flight.return_arrival_time.strftime("%R") %></span>
        </div>
        <%= link_to "Book Now", "https://www.skyscanner.jp/?", class: "btn btn-success" %>
      </div>
      <div class="text-center price-container col-xs-4">
        <h2><strong>Total</strong></h2>
        <h4><i class="fas fa-dollar-sign"></i><%= @flight.price %> USD</h4>
      </div>

  </div>

</div>
