    <%= render "shared/flight_modal" %>


    <div class="card-flight-content container" id="flight">

    <!-- Flight content -->
      <div>
        <div class="col-xs-12 col-md-9">
          <div class="flight-info">
            <span class="flight-logo"><%= image_tag @flight.depart_image_url, width: 108, height: 56, crop: :fill %></span>
             <ul class="list-unstyled">
              <li><%= @flight.depart_departure_time.strftime("%R") %></li>
              <li><%= @flight.depart_code %></li>
            </ul>
            <span>&#10140;</span>
            <ul class="list-unstyled">
              <% if @flight.depart_stops == "Direct" %>
                <li><%= @flight.depart_stops %></li>
              <% elsif @flight.depart_stops == "1" %>
                <li><%= @flight.depart_stops %> stop</li>
              <% else %>
                <li><%= @flight.depart_stops %> stops</li>
              <% end %>
            </ul>
            <span>&#10140;</span>
            <ul class="list-unstyled">
              <li><%= @flight.depart_arrival_time.strftime("%R") %></li>
              <li><%= @flight.return_code %></li>
            </ul>
          </div>
        </div>
      </div>


      <div>
        <div class="col-xs-12 col-md-9">
          <div class="flight-info">
            <span class="flight-logo"><%= image_tag @flight.return_image_url, width: 108, height: 56, crop: :fill%></span>
            <ul class="list-unstyled">
              <li><%= @flight.return_departure_time.strftime("%R") %></li>
              <li><%= @flight.return_code %></li>
            </ul>
            <span>&#10140;</span>
            <ul class="list-unstyled">
              <% if @flight.return_stops == "Direct" %>
                <li><%= @flight.return_stops %></li>
              <% elsif @flight.return_stops == "1" %>
                <li><%= @flight.return_stops %> stop</li>
              <% else %>
                <li><%= @flight.return_stops %> stops</li>
              <% end %>
            </ul>
            <span>&#10140;</span>
            <ul class="text-left list-unstyled">
              <li><%= @flight.return_arrival_time.strftime("%R") %></li>
              <li><%= @flight.depart_code %></li>
            </ul>
          </div>

        </div>
      </div>


      <div class="text-center flight-total">
        <div class="flight-price">
          <br>
          <h3 class="flight-price">$<%= number_with_delimiter(@flight.price, delimiter: ",") %></h3>
        </div>
        <div class="flight-buttons row">
            <button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#flights">Change</button>
            <span><%= link_to "Book", @flight.booking_url, target: "_blank", class: "btn btn-success" %></span>
        </div>
      </div>



  </div>


