<div class="navbar-dm">
  <!-- Destination Matcher logo -->
  <div class="logo">
    <%= link_to root_path, class: "navbar-dm-logo" do %>
    <%= image_tag "navigation.png" %>
    <nobr class="site-title">DestinationMatcher</nobr>
    <!-- <br>let us find the best destionation for you -->
    <% end %>
  </div>
<!-- Right side when Logged IN-->
  <div class="navbar-dm-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
        <div class="navbar-dm-item">

          <div class="dropdown">
            <h3 class="menu-dropdown-ico" data-toggle="dropdown">
              <i class="far fa-heart"></i>
            </h3>

            <ul class="dropdown-menu dropdown-menu-right navbar-dm-dropdown-menu">
              <li><%= link_to 'Favorites', favorites_path %>  </li>
              <li><%= link_to destroy_user_session_path, method: :delete, class: "navbar-dm-item navbar-dm-link" do  %>
              <%= t(".sign_out", default: "Log out") %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% else %>
        <!-- Right side when logged OUT -->
        <div class="sign-in-button">
          <%= link_to t(".sign_in", default: "Log In"), new_user_session_path, class: "navbar-dm-item navbar-dm-link sign-in-text" %>
          <%= link_to t(".sign_in", default: "Join now"), new_user_registration_path, class: "navbar-dm-item navbar-dm-link join-free" %>
          <% end %>
        </div>
    </div>
    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-dm-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-dm-dropdown-menu">
          <li><a href="#">Host</a></li>
          <li><a href="#">Trips</a></li>
          <li><a href="#">Messagese</a></li>
        </ul>
      </div>
    </div>
  </div>
