<!-- Simple Form -->

<div class="containter">
  <div class="row">
    <div class="search-box">
      <%= simple_form_for cities_path, method: :get do |f| %>
        <div class ="form-group col-xs-6">
          <%= f.input :origin, class: "form-control", placeholder: "Traveling from?"%>
        </div>
        <div class ="form-group col-xs-6">
          <%= f.input :region, collection: Region::AREAS, class: "form-control", prompt: "Pick a Region" %>
        </div>
        <div class ="form-group col-xs-12">
          <%= f.input :min_budget, class: "form-control", placeholder: "What's your minimum budget?"%>
        </div>
        <div class ="form-group col-xs-12">
          <%= f.input :max_budget, class: "form-control", placeholder: "What's your maximum budget?"%>
        </div>
          <!-- put Flatpicker here -->
        <div class="form-group col-xs-6">
          <%= f.input :dep_date, as: :string, required: false, input_html: {class: "datepicker"}, class: "form-control", placeholder: "Departure Date" %>
        </div>
        <div class="form-group col-xs-6">
          <%= f.input :return_date, as: :string, required: false, input_html: {class: "datepicker"}, class: "form-control", placeholder: "Return Date" %>
        </div>
        <div class="form-group col-xs-12">
        <div><%= f.submit "Search", class: "form-control btn-primary" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
