<div class="containter">
  <div class="row">
      <%= form_tag cities_path, method: :get do %>
        <div class ="form-group col-xs-6">
          <%= text_field_tag :origin, params[:origin], class: "form-control", placeholder: "Where are you traveling from?"%>
        </div>
        <div class ="form-group col-xs-6">
          <%= select_tag :region, params[:region], class: "form-control", placeholder: "Pick a Region"%>
        </div>
          <%= number_field_tag :min_budget, params[:min_budget], class: "form-control", placeholder: "What's your minimum budget?"%>
          <%= number_field_tag :max_budget, params[:max_budget], class: "form-control", placeholder: "What's your maximum budget?"%>
          <!-- put Flatpicker here -->
          <%= text_field_tag :dep_date, params[:dep_date], class: "form-control", iput_html: {class: "datepicker" }, placeholder: "Departure Date"%>
          <%= text_field_tag :return_date, params[:return_date], class: "form-control", iput_html: {class: "datepicker" }, placeholder: "Return Date"%>
        <div><%= submit_tag ("Search"), class: "form-control" %></div>
      <% end %>
    </div>
  </div>
</div>
