<!-- Simple Form -->
<div class="search-box">
  <%= simple_form_for cities_path, url: cities_path, method: :get do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
      <div class ="form-group traveling-from-form">
        <%= f.input :origin,
                    collection: City.all.order(:name),
                    input_html: {class: "form-small", required: true},
                    label: 'Traveling From?',
                    selected: City.find_by_name("Tokyo").id %>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div class ="form-group">
        <%= f.input :region,
                    collection:  Region.all.order(:name),
                    input_html: {class: "form-small", required: true},
                    label: "To Which Region?",
                    selected: 1 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class ="form-group">
        <%= f.input :max_budget,
                    collection: ["500 US$", "800 US$","1,000 US$", "1,500 US$", "2,000 US$", "2,500 US$", "3,000 US$", "3,500 US$", "4,000 US$", "4,500 US$", "5,000 US$", "5,500 US$", "6,000 US$"],
                    input_html: {class: "form-small", required: true},
                    label: raw('<i class="far fa-money-bill-alt"></i> Travel Budget'),
                    selected: "1,000 US$",
                    hint: '*Includes: meals, flights, accommodations' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
        <!-- put Flatpicker here -->
      <div class="form-group">
          <%= f.input :dep_date,
          as: :string,
          required: true,
          input_html: {class: "datepicker depart-date form-small"},
          prompt: "Departure Date",
          label: raw('<i class="fas fa-plane-departure"></i> Departure Date') %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div class="form-group">
        <%= f.input :return_date,
                    as: :string,
                    required: true,
                    input_html: {class: "datepicker return-date form-small"},
                    prompt: "Return Date",
                    label: raw('<i class="fas fa-plane-arrival"></i> Return Date') %>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 text-center">
        <div class="form-group submit-button">
          <%= f.submit "Search", class: "form-small submit-button btn btn-success spin-trigger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
