<center>
  <div class="modal fade" id="visas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-sm" style="color: black;">
        <div class="modal-title modal-body-md">
          <h4>Let's see if you need a <%= @city.country.nationality %> visa.</h3>
          <br>
          <h5>Select your passport's nationality</h5>
           <br>
          <div class ="modal-body-md form-group">
            <%= form_tag({controller: :visas, action: :search}, remote: true, method: :get) do %>
              <%= select_tag "id", options_for_select(Visa.all.map { |visa| [visa.country.nationality, visa.id] }) %>
              <%= hidden_field_tag :destination, @city.country.name %>
              <%= submit_tag "Search" %>
            <% end %>
            <br>
            <br>
            <div id="result">
            </div>
          </div>

        </div>
        <div class="modal-footer ">
            <p>Source: PassportIndex</p>
            </div>
      </div>
    </div>
  </div>
</center>

<script>

</script>
