<center>
  <div class="modal fade" id="visas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-md" style="color: black;">
        <br>
        <br>
        <div class="modal-title modal-body-sm">
          <h3>Let's check if you need a <%= @city.country.nationality %> visa...</h3>
          <br>
           <br>
          <div class ="modal-body-md form-group">
            <%= form_tag({controller: :visas, action: :search}, remote: true, method: :get) do %>
              <%= select_tag "id", options_for_select(Visa.all.map { |visa| [visa.country.nationality, visa.id] }.unshift(["Select your passport's nationality", nil])), class: "form-control", id: "select", style: "width: 70%;" %>
              <%= hidden_field_tag :destination, @city.country.name %>
              <%= submit_tag "Search", style: "display: none;", id: "submit" %>
            <% end %>
            <br>
            <br>
            <div id="result">
            </div>
          </div>

        </div>
        <br>
        <div class="modal-footer ">
            <p>Source: PassportIndex</p>
            </div>
      </div>
    </div>
  </div>
</center>

<script>
  const button = document.getElementById("submit");
  const select = document.getElementById("select");
  select.addEventListener("change", (event) => {
    button.click();
  });
</script>
