<div class="wrapper">
  <% if @result_cities == [] %>
    <h3 class="text-center">Sorry, there currently are no destinations within your budget!</h3>
  <% else %>
    <br>
    <br>
    <br>
    <h3 class="text-center">Our recommended destinations for you</h3>
    <br>
      <div class="container m-t-md">
        <!-- First row -->
        <div class="row">
          <% @result_cities.each do |city, flight_ids , accom_ids| %>
           <% country = city.country %>

            <div class="col-xs-12 col-md-4">
              <!-- Card -->
              <%= link_to city_path(city, flight_ids: flight_ids.join("-"), accom_ids: accom_ids.join("-")), class: "card-link" do %>
                <article class="card animated fadeInLeft">
                  <%= cl_image_tag city.photo, class:"card-img-top img-responsive" %>
                  <div class="card-block text-center">
                    <h4 class="card-title"><%= city.name %>, <%= country.name %></h4>
                    <h6 class="text-total"><strong><%= @total_price %> USD in total </strong><h6>
                  </div>
                </article>
                <!-- .end Card -->
              <% end %>
            </div>
          <% end %>
       </div>
      </div>
    <% end %>
    <br>
    <br>
    <br>
  </div>
