<%= render "shared/banner" %>

<div class="wrapper">
  <div class="container">
    <div class="row">

        <% @cities.each do |city| %>
         <% country = city.country %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card"><%= image_tag city.photo %>
              <span class="title"><h1><%= city.name %></h1></span>
              <div class="info">
                <h3><%= country.name %></h3>
                <p>Language: <%= country.language %></p>
                <p>English Level: <%= country.english_level%></p>
                <p>Currency: <%= country.currency %></p>
                <%= link_to "See More Details", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
   </div>
</div>
