<div class="wrapper">
  <div class="container">
    <h3 class="text-center">Our recommended destionations for you</h3>
    <div class="row">

      <% if @result_cities == [] %>
        <h3>Sorry, there are no destinations within your budget!</h3>
      <% else %>
       <% @result_cities.each do |city, flight_ids| %>
         <% country = city.country %>
          <div class="col-xs-12.offset-xs-2 col-sm-6 col-md-6 col-lg-4">
            <div class="card">
              <%= link_to city_path(city, flight_ids: flight_ids.join("-")) do %>
                <%= cl_image_tag city.photo %>
                <span class="title"><h2><%= city.name %></h2></span>
                <div class="info">
                <h3><%= country.name %></h3>
                <p>Language: <%= country.language %></p>
                <p>English Level: <%= "★" * country.english_level %></p>
                <p>Currency: <%= country.currency %></p>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% end %>

      </div>
   </div>
</div>
