     <!-- Background picture -->

  <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>')">
    <div class="text-center city-card-container">
      <h2><%= @city.name %></h2>
      <h3><%= @city.country.name %>, <%= @city.country.region.name %></h3>
      <p><%= @flight.depart_departure_time.strftime("%b %d") %> - <%= @flight.return_departure_time.strftime("%b %d") %></p>
    </div>
  </div>

<div class="show-container results container-fluid">
  <div class="content container">
    <div class="row">
      <div class="col-xs-12">
          <!-- Total Card Row -->
            <div class="info-card">
              <div class="row" style="margin: 0;">
                <div class="header text-center col-xs-12">
                  <h2><strong>Best deal for <%= @period %> days: <%= @total.round %> US$</strong></h2>
                </div>
              </div>

              <div class="row">
              <div class="text-center price-container">
                <div class="meal col-xs-12 col-md-4">
                  <p><i class="fas fa-utensils"></i> <%= @food.round %> US$ total</p>
                </div>
                <div class="accom col-xs-12 col-md-4">
                  <p><i class="fas fa-hotel"></i> <%= @accommodation.price %> US$ total</p>
                </div>
                <div class="flight col-xs-12 col-md-4">
                  <p><i class="fas fa-plane"> </i> <%= @flight.price %> US$ round trip </p>
                </div>
              </div>
            </div>
            </div>
         </div>
      </div>
          <!-- Flight Card Row -->
      <div class="row">
        <div class="col-xs-12 col-md-9">

        <!--  card for recommended flight -->
          <%= render "shared/flight_cards" %>

        <!--  card for recoommended stay -->

          <%= render "shared/accomodation_cards" %>

      </div>

      <!-- Country at a Glance and Accomodation Column -->
      <div class="col-xs-12 col-md-3">

          <!-- Country at a Glance Info -->

            <div class="card-country-general-info col-xs-12">
                <h3 class="text-center"><%= @city.country.name %> at a glance</h3>



                  <div class="card-icons">
                    <h4><i class="far fa-comment"></i> <%= @city.country.language %></h4>
                  </div>
                  <div class="card-icons">
                    <a tabindex="0" role="button" href="#" data-toggle="tooltip" data-html="true" title="<h5>Expl.:<br>1 star = 0~20% of locals partly know basic English.<br>5 stars = 80~100%.<br><br>Sources: Ethnologue,<br>EF English Proficiency Index</h5>">
                      <h4><%= '★' * @city.country.english_level %> English Level</h4>
                    </a>
                  </div>
                  <div class="card-icons">
                    <a tabindex="0" role="button" href="#" data-toggle="tooltip" data-html="true" title="<h4>Risks Assessements for <%= @city.name %>:</h4><h5>• Overall: <%= @city.level_of_safety.overrall_risk.capitalize %><br>• Pickpoket: <%= @city.level_of_safety.pickpoket_risk.capitalize %><br>• Mugging: <%= @city.level_of_safety.mugging_risk.capitalize %><br>• Scams: <%= @city.level_of_safety.scams_risk.capitalize %><br>• Transportation: <%= @city.level_of_safety.transport_and_taxis_risk.capitalize %><br>• Natural disasters: <%= @city.level_of_safety.natural_disasters_risk.capitalize %><br>• Terrorism: <%= @city.level_of_safety.terrorism_risk.capitalize %><br>• Risk for women travelers: <%= @city.level_of_safety.women_travelers_risk.capitalize %><br><br>Source: SafeAround</h5>">
                    <h4><i class="fas fa-exclamation-circle"></i>Safety Index: <%= @city.level_of_safety.safety_rank.to_i %>%</h4>
                    </a>

                  </div>
                  <div class="card-icons">
                    <h4><i class="fas fa-money-bill"></i> <%= @city.country.currency %></h4>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="button" class="modal-btn btn btn-primary" data-toggle="modal" data-target="#visas">Visa Requirements</button>
                  </div>
                  <%= render "shared/visa_modal" %>
                </div>
              </div>


      </div>
    </div>
  </div>

</div>



<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
