     <!-- Background picture -->

  <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>')">
    <div class="text-center city-card-container">
      <h2><%= @city.name %></h2>
      <h3><%= @city.country.region.name %></h3>
      <p><%= @flight.depart_departure_time.strftime("%b %d") %> - <%= @flight.return_departure_time.strftime("%b %d") %> (<%= @period %> days)</p>
    </div>
  </div>

<div class="results container">

  <!-- card with prices of flights/avg meal/hotel -->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <div class="row">
      <div class="info-card">
          <div class="price-container col-xs-8">
            <h4>Recommended Plan</h4>
            <p><i class="fas fa-utensils"></i> <%= @food %> USD (Avg)</p>
            <p><i class="fas fa-hotel"></i> <%= @accommodation.price * @period %> USD for <%= @period %> days </p>
            <p><i class="fas fa-plane"> </i> <i class="fas fa-dollar-sign"></i> <%= @flight.price %> USD round trip </p>
          </div>
          <div class="total text-center price-container col-xs-4">
            <h2><strong>Total</strong></h2>
            <p><strong><%= @total %></strong> USD</p>
          </div>
        </div>
      </div>



    <!--  card for recommended flight -->
    <div class="row">
      <%= render "shared/flight_cards" %>
    </div>
  </div>

      <!--  card for recoommended stay -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= render "shared/accomodation_cards" %>
    </div>
  </div>
  <%= link_to "Back to Search", cities_path, class: "btn btn-success" %>

</div>
