<div class="container parent-container">
  <!-- card with background picture -->
  <div class="city-card-container">
    <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>');">
      <div class="city-card-container">
        <h2><%= @city.name %></h2>
        <h3><%= @city.country.region.name %></h3>
      </div>
    </div>
  </div>
  <!-- card with prices of flights/avg meal/hotel -->
  <div class="info-card">
    <div class="flight-info-container">
      <div class="total-price-container">
      </div>
      <div class="flights-time-container">
        <p><i class="fas fa-plane-departure"></i> <%= @city.flights.first.depart_departure_time %></p>
        <p><i class="fas fa-plane-arrival"></i> <%= @city.flights.first.depart_departure_time %></p>
      </div>
      <div class="price-container">
        <p><i class="fas fa-dollar-sign"></i> Total <%= @city.flights.first.price %> USD</p>
        <p><i class="fas fa-utensils"></i> <%= @city.meal_average_price_cents %> USD (Avg)</p>
        <p><i class="fas fa-hotel"></i> <%= @city.accommodations.first.price %> USD</p>
      </div>
    </div>
  </div>

  <!--  card for recoommended stay -->
  <%= render "shared/accomodation_cards" %>

  <!--  card for recommended flight -->
  <%= render "shared/flight_cards" %>

 <!-- "Add to Favorites" and "Book now" button -->
 <br>
  <div class="recommended-flight-container flex-fav-book">
    <span><input type="submit" name="commit" value="Add to Favorites" class="form-control btn-primary" data-disable-with="Search"></span>
    <span><input type="submit" name="commit" value="Book Now!" class="form-control btn-primary" data-disable-with="Search"></span>
  </div>
<br>
<br>
<br>
</div>
