     <!-- Background picture -->

  <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>')">
    <div class="text-center city-card-container">
      <h2><%= @city.name %></h2>
      <h3><%= @city.country.region.name %></h3>
      <p><%= @flight.depart_departure_time.strftime("%b %d") %> - <%= @flight.return_departure_time.strftime("%b %d") %></p>
    </div>
  </div>

<div class="results container-fluid">
  <div class="content container">

  <!-- card with prices of flights/avg meal/hotel -->
  <div class="row">
    <!-- Information about country -->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="info-card">
        <div class="price-container col-xs-8">
            <h4>Recommended Plan for <%= @period %> days</h4>
            <p><i class="fas fa-utensils"></i> <%= @food.round %> USD (Total Avg)</p>
            <p><i class="fas fa-hotel"></i> <%= @accommodation.price * @period %> USD total</p>
            <p><i class="fas fa-plane"> </i> <%= @flight.price %> USD round trip </p>
          </div>
          <div class="total text-center price-container col-xs-4">
            <h2><strong>Total</strong></h2>
            <p><strong><%= @total.round %></strong> USD</p>
          </div>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-xs-4">
          <div class="card-country-general-info">
            <h3>Country at a Glance</h3>
            <h4>Language: <%= @city.country.language %></h4>
            <h4>English Level: <span class="yellow"><%= '★' * @city.country.english_level %></span></h4>
            <h4>Overall Risk: <%= "medium".capitalize %></h4><!-- To unhardcode when risks seeded -->
            <h4>Currency: <%= @city.country.currency %></h4>
          </div>
        </div>

        <div class="col-xs-8">
            <%= render "shared/flight_cards" %>
          </div>
        </div>

      </div>
      </div>
    </div>
    <!-- Flight and Total Cost Cards -->





    <!--  card for recommended flight -->


      <!--  card for recoommended stay -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <%= render "shared/accomodation_cards" %>
    </div>
  </div>
  </div>

</div>

