     <!-- Background picture -->

  <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>')">
    <div class="text-center city-card-container">
      <h2><%= @city.name %></h2>
      <h3><%= @city.country.region.name %></h3>
      <p><%= @flight.depart_departure_time.strftime("%b %d") %> - <%= @flight.return_departure_time.strftime("%b %d") %></p>
    </div>
  </div>

<div class="show-container results container-fluid">
  <div class="content container">

    <div class="col-xs-12">
        <!-- Total and Flight Card Column -->
        <div class="col-xs-8">
          <!-- Total Card Row -->
          <div class="row">
            <div class="info-card">
              <div class="row">
                <div class="header col-xs-12">
                  <h2 class="text-center">Recommended Plan for <%= @period %> days</h2>
                </div>
              </div>
              <div class="price-container row">
                <div class="col-xs-6">
                  <p><i class="fas fa-utensils"></i> <%= @food.round %> USD (Total Avg)</p>
                  <p><i class="fas fa-hotel"></i> <%= @accommodation.price * @period %> USD total</p>
                  <p><i class="fas fa-plane"> </i> <%= @flight.price %> USD round trip </p>
                </div>
                <div class="total text-center col-xs-6">
                  <h2><strong>Total</strong></h2>
                  <p><strong><%= @total.round %></strong> USD</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Flight Card Row -->
         <div class="row">
        <!--  card for recommended flight -->
          <%= render "shared/flight_cards" %>
        </div>
      </div>

      <!-- Country at a Glance and Accomodation Column -->
      <div class="col-xs-4">
        <div class="row">
          <!-- Country at a Glance Info -->
          <div class="card-country-general-info">
            <div class="col-xs-12">
                <h3 class="text-center"><%= @city.name %> at a Glance</h3>


                <div class="row">
                  <div class="card-icons col-xs-6">
                    <p><i class="fas fa-globe-americas"></i></p>
                    <h4>Language: <%= @city.country.language %></h4>
                  </div>
                  <div class="card-icons col-xs-6">
                    <p><i class="fas fa-star"></i></p>
                    <h4>English Level: <span class="yellow"><%= '★' * @city.country.english_level %></span></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="card-icons col-xs-6">
                    <p><i class="fas fa-exclamation-circle"></i></p>
                    <h4>Overall Risk: <%= "medium".capitalize %></h4><!-- To unhardcode when risks seeded -->
                  </div>
                  <div class="card-icons col-xs-6">
                    <p><i class="fas fa-money-bill"></i></p>
                    <h4>Currency: <%= @city.country.currency %></h4>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!--  card for recoommended stay -->
        <div class="row">
          <%= render "shared/accomodation_cards" %>
        </div>
      </div>
    </div>
  </div>
</div>



