     <!-- Background picture -->

  <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>')">
    <div class="text-center city-card-container">
      <h2><%= @city.name %></h2>
      <h3><%= @city.country.region.name %></h3>
    </div>
  </div>

<div class="results container">

  <!-- card with prices of flights/avg meal/hotel -->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <div class="row">
      <div class="info-card">
          <div class="price-container col-xs-8">
            <h4>Recommended Plan</h4>
            <p><i class="fas fa-utensils"></i> <%= meal = @city.meal_average_price_cents %> USD (Avg)</p>
            <p><i class="fas fa-hotel"></i> <%= accomodation = @city.accommodations.first.price %> USD</p>
            <p><i class="fas fa-dollar-sign"></i><%= flight = @city.flights.first.price %> USD</p>
          </div>
          <div class="total text-center price-container col-xs-4">
            <h2><strong>Total</strong></h2>
            <p><%= meal + accomodation + flight %> USD</p>
          </div>
        </div>
      </div>



    <!--  card for recommended flight -->
    <div class="row">
      <%= render "shared/flight_cards" %>
    </div>
  </div>

      <!--  card for recoommended stay -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="overflow: hidden;">
      <%= render "shared/accomodation_cards" %>
    </div>
  </div>


</div>


