     <!-- Background picture -->

  <div class="city-cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo if @city.photo.present? %>')">
    <div class="text-center city-card-container">
      <h2><%= @city.name %></h2>
      <h3><%= @city.country.name %>, <%= @city.country.region.name %></h3>
      <p><%= @flight.depart_departure_time.strftime("%b %d") %> - <%= @flight.return_departure_time.strftime("%b %d") %></p>
    </div>
  </div>

<div class="show-container results container-fluid">
  <div class="content container">
    <div class="row">
      <div class="col-xs-12">
          <!-- Total Card Row -->
            <div class="info-card">
              <div class="row" style="margin: 0;">
                <div class="header text-center col-xs-12">
                  <h2><strong>Best deal for <%= @period %> days: <%= @total.round %> US$</strong></h2>
                </div>
              </div>

              <div class="row">
              <div class="text-center price-container">
                <div class="col-xs-12 col-md-4">
                  <p><i class="fas fa-utensils"></i> <%= @food.round %> US$ (Total Avg)</p>
                </div>
                <div class="col-xs-12 col-md-4">
                  <p><i class="fas fa-hotel"></i> <%= @accommodation.price * @period %> US$ total</p>
                </div>
                <div class="col-xs-12 col-md-4">
                  <p><i class="fas fa-plane"> </i> <%= @flight.price %> US$ round trip </p>
                </div>
              </div>
            </div>
            </div>
         </div>
      </div>
          <!-- Flight Card Row -->
      <div class="row">
        <div class="col-xs-12 col-md-9">

        <!--  card for recommended flight -->
          <%= render "shared/flight_cards" %>

        <!--  card for recoommended stay -->

          <%= render "shared/accomodation_cards" %>

      </div>

      <!-- Country at a Glance and Accomodation Column -->
      <div class="col-xs-12 col-md-3">

          <!-- Country at a Glance Info -->

            <div class="card-country-general-info col-xs-12">
                <h3 class="text-center"><%= @city.country.name %> at a Glance</h3>



                  <div class="card-icons">
                    <h4><i class="far fa-comment"></i> <%= @city.country.language %></h4>
                  </div>
                  <div class="card-icons">
                    <h4><%= '★' * @city.country.english_level %> English Level</h4>
                  </div>
                  <div class="card-icons">
                    <h4><i class="fas fa-exclamation-circle"> </i> <%= "medium".capitalize %></h4><!-- To unhardcode when risks seeded -->
                  </div>
                  <div class="card-icons">
                    <h4><i class="fas fa-money-bill"></i> <%= @city.country.currency %></h4>
                  </div>

              </div>


      </div>
    </div>
  </div>
</div>



